//
// Component animations
// --------------------------------------------------

// Heads up!
//
// We don't use the `.opacity()` mixin here since it causes a bug with text
// fields in IE7-8. Source: https://github.com/twitter/bootstrap/pull/3552.

.fade {
  opacity: 0;
  .transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

.collapse, .folded {
  display: none;
  &.in {
    display: block;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  .transition(height .35s ease);
}



.navbar-header img {
  -webkit-animation: animation 1800ms linear both;
  animation: animation 1800ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com/?utm_source=html5weekly&utm_medium=email#{s:[{T:"t",e:"b",d:1000,D:0,f:{x:1200,y:0},t:{x:0,y:0},s:5,b:2},{T:"k",e:"s",d:1000,D:0,f:{x:0,y:0},t:{x:120,y:0},s:3,b:4},{T:"t",e:"S",d:1000,D:800,f:{x:0,y:0},t:{x:0,y:-50},s:2,b:4}]} */

@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1200, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1200, 0, 0, 1); }
  0.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.37121, 1, 0, 0, 0, 0, 1, 0, 901.97217, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.37121, 1, 0, 0, 0, 0, 1, 0, 901.97217, 0, 0, 1); }
  1.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.6376, 1, 0, 0, 0, 0, 1, 0, 670.47213, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.6376, 1, 0, 0, 0, 0, 1, 0, 670.47213, 0, 0, 1); }
  2.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.79154, 1, 0, 0, 0, 0, 1, 0, 492.69733, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.79154, 1, 0, 0, 0, 0, 1, 0, 492.69733, 0, 0, 1); }
  3.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.82704, 1, 0, 0, 0, 0, 1, 0, 357.68571, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.82704, 1, 0, 0, 0, 0, 1, 0, 357.68571, 0, 0, 1); }
  4.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.77183, 1, 0, 0, 0, 0, 1, 0, 256.27108, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.77183, 1, 0, 0, 0, 0, 1, 0, 256.27108, 0, 0, 1); }
  5.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.66846, 1, 0, 0, 0, 0, 1, 0, 180.93566, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.66846, 1, 0, 0, 0, 0, 1, 0, 180.93566, 0, 0, 1); }
  6.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.55016, 1, 0, 0, 0, 0, 1, 0, 125.61385, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.55016, 1, 0, 0, 0, 0, 1, 0, 125.61385, 0, 0, 1); }
  7.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.4353, 1, 0, 0, 0, 0, 1, 0, 85.48157, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.4353, 1, 0, 0, 0, 0, 1, 0, 85.48157, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.33193, 1, 0, 0, 0, 0, 1, 0, 56.75156, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.33193, 1, 0, 0, 0, 0, 1, 0, 56.75156, 0, 0, 1); }
  9.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.24283, 1, 0, 0, 0, 0, 1, 0, 36.48604, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.24283, 1, 0, 0, 0, 0, 1, 0, 36.48604, 0, 0, 1); }
  10.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.16843, 1, 0, 0, 0, 0, 1, 0, 22.43198, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.16843, 1, 0, 0, 0, 0, 1, 0, 22.43198, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.10815, 1, 0, 0, 0, 0, 1, 0, 12.88054, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.10815, 1, 0, 0, 0, 0, 1, 0, 12.88054, 0, 0, 1); }
  12.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.06093, 1, 0, 0, 0, 0, 1, 0, 6.5498, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.06093, 1, 0, 0, 0, 0, 1, 0, 6.5498, 0, 0, 1); }
  12.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.0254, 1, 0, 0, 0, 0, 1, 0, 2.48875, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.0254, 1, 0, 0, 0, 0, 1, 0, 2.48875, 0, 0, 1); }
  13.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01692, 1, 0, 0, 0, 0, 1, 0, -1.4216, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01692, 1, 0, 0, 0, 0, 1, 0, -1.4216, 0, 0, 1); }
  15.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02702, 1, 0, 0, 0, 0, 1, 0, -2.13707, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02702, 1, 0, 0, 0, 0, 1, 0, -2.13707, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.03188, 1, 0, 0, 0, 0, 1, 0, -2.4006, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.03188, 1, 0, 0, 0, 0, 1, 0, -2.4006, 0, 0, 1); }
  17.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0329, 1, 0, 0, 0, 0, 1, 0, -2.38807, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0329, 1, 0, 0, 0, 0, 1, 0, -2.38807, 0, 0, 1); }
  18.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0313, 1, 0, 0, 0, 0, 1, 0, -2.21872, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0313, 1, 0, 0, 0, 0, 1, 0, -2.21872, 0, 0, 1); }
  19.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02805, 1, 0, 0, 0, 0, 1, 0, -1.97128, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02805, 1, 0, 0, 0, 0, 1, 0, -1.97128, 0, 0, 1); }
  20.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02394, 1, 0, 0, 0, 0, 1, 0, -1.69605, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02394, 1, 0, 0, 0, 0, 1, 0, -1.69605, 0, 0, 1); }
  21.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01954, 1, 0, 0, 0, 0, 1, 0, -1.42363, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01954, 1, 0, 0, 0, 0, 1, 0, -1.42363, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01526, 1, 0, 0, 0, 0, 1, 0, -1.17133, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01526, 1, 0, 0, 0, 0, 1, 0, -1.17133, 0, 0, 1); }
  23.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01134, 1, 0, 0, 0, 0, 1, 0, -0.94766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01134, 1, 0, 0, 0, 0, 1, 0, -0.94766, 0, 0, 1); }
  24.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00794, 1, 0, 0, 0, 0, 1, 0, -0.75552, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00794, 1, 0, 0, 0, 0, 1, 0, -0.75552, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00513, 1, 0, 0, 0, 0, 1, 0, -0.59446, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00513, 1, 0, 0, 0, 0, 1, 0, -0.59446, 0, 0, 1); }
  25.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0029, 1, 0, 0, 0, 0, 1, 0, -0.46208, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0029, 1, 0, 0, 0, 0, 1, 0, -0.46208, 0, 0, 1); }
  26.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00121, 1, 0, 0, 0, 0, 1, 0, -0.35508, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00121, 1, 0, 0, 0, 0, 1, 0, -0.35508, 0, 0, 1); }
  27.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.26984, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.26984, 0, 0, 1); }
  28.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00081, 1, 0, 0, 0, 0, 1, 0, -0.20282, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00081, 1, 0, 0, 0, 0, 1, 0, -0.20282, 0, 0, 1); }
  29.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00129, 1, 0, 0, 0, 0, 1, 0, -0.15077, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00129, 1, 0, 0, 0, 0, 1, 0, -0.15077, 0, 0, 1); }
  30.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, -0.11079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, -0.11079, 0, 0, 1); }
  31.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00157, 1, 0, 0, 0, 0, 1, 0, -0.08043, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00157, 1, 0, 0, 0, 0, 1, 0, -0.08043, 0, 0, 1); }
  32.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00149, 1, 0, 0, 0, 0, 1, 0, -0.05763, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00149, 1, 0, 0, 0, 0, 1, 0, -0.05763, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00133, 1, 0, 0, 0, 0, 1, 0, -0.04069, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00133, 1, 0, 0, 0, 0, 1, 0, -0.04069, 0, 0, 1); }
  34.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00114, 1, 0, 0, 0, 0, 1, 0, -0.02825, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00114, 1, 0, 0, 0, 0, 1, 0, -0.02825, 0, 0, 1); }
  35.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00093, 1, 0, 0, 0, 0, 1, 0, -0.01922, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00093, 1, 0, 0, 0, 0, 1, 0, -0.01922, 0, 0, 1); }
  36.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00073, 1, 0, 0, 0, 0, 1, 0, -0.01276, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00073, 1, 0, 0, 0, 0, 1, 0, -0.01276, 0, 0, 1); }
  37.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00054, 1, 0, 0, 0, 0, 1, 0, -0.0082, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00054, 1, 0, 0, 0, 0, 1, 0, -0.0082, 0, 0, 1); }
  37.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00038, 1, 0, 0, 0, 0, 1, 0, -0.00504, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00038, 1, 0, 0, 0, 0, 1, 0, -0.00504, 0, 0, 1); }
  38.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00024, 1, 0, 0, 0, 0, 1, 0, -0.0029, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00024, 1, 0, 0, 0, 0, 1, 0, -0.0029, 0, 0, 1); }
  39.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00014, 1, 0, 0, 0, 0, 1, 0, -0.00147, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00014, 1, 0, 0, 0, 0, 1, 0, -0.00147, 0, 0, 1); }
  40.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00006, 1, 0, 0, 0, 0, 1, 0, -0.00056, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00006, 1, 0, 0, 0, 0, 1, 0, -0.00056, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00032, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00032, 0, 0, 1); }
  43.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00048, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00048, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00054, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00054, 0, 0, 1); }
  45.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00119, -8.81435, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00119, -8.81435, 0, 1); }
  46.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00154, -14.62063, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00154, -14.62063, 0, 1); }
  47.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00158, -17.91484, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00158, -17.91484, 0, 1); }
  48.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00005, 1, 0, 0, 0, 0, 1, 0, 0.00142, -19.20477, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00005, 1, 0, 0, 0, 0, 1, 0, 0.00142, -19.20477, 0, 1); }
  49.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00116, -18.97613, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00116, -18.97613, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00087, -17.66952, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00087, -17.66952, 0, 1); }
  50.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00062, -15.66658, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00062, -15.66658, 0, 1); }
  51.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00002, 1, 0, 0, 0, 0, 1, 0, 0.00041, -13.2836, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00002, 1, 0, 0, 0, 0, 1, 0, 0.00041, -13.2836, 0, 1); }
  52.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00026, -10.77083, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00026, -10.77083, 0, 1); }
  53.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00016, -8.316, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00016, -8.316, 0, 1); }
  54.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, -6.05061, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, -6.05061, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.05775, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.05775, 0, 1); }
  56.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.38079, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.38079, 0, 1); }
  57.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.03188, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.03188, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.74184, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.74184, 0, 1); }
  60.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.23052, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.23052, 0, 1); }
  61.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.50777, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.50777, 0, 1); }
  62.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.61633, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.61633, 0, 1); }
  62.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.59709, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.59709, 0, 1); }
  63.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.48712, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.48712, 0, 1); }
  64.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.31855, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.31855, 0, 1); }
  65.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.11799, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.11799, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.9065, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.9065, 0, 1); }
  67.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.6999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.6999, 0, 1); }
  68.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.50924, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.50924, 0, 1); }
  69.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.34151, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.34151, 0, 1); }
  70.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.20037, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.20037, 0, 1); }
  71.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08685, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08685, 0, 1); }
  72.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.06244, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.06244, 0, 1); }
  74.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.10356, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.10356, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.1269, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.1269, 0, 1); }
  75.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13604, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13604, 0, 1); }
  76.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13442, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13442, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.12516, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.12516, 0, 1); }
  78.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.11097, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.11097, 0, 1); }
  79.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.09409, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.09409, 0, 1); }
  80.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.07629, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.07629, 0, 1); }
  81.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.05891, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.05891, 0, 1); }
  82.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.04286, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.04286, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.02874, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.02874, 0, 1); }
  84.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01686, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01686, 0, 1); }
  85.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00731, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00731, 0, 1); }
  86.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00525, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00525, 0, 1); }
  87.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00872, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00872, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01068, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01068, 0, 1); }
  89.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01145, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01145, 0, 1); }
  90.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01131, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01131, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01053, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01053, 0, 1); }
  92.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00934, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00934, 0, 1); }
  93.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00792, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00792, 0, 1); }
  94.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00642, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00642, 0, 1); }
  95.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00496, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00496, 0, 1); }
  96.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00361, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00361, 0, 1); }
  97.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00242, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00242, 0, 1); }
  98.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00142, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00142, 0, 1); }
  99.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00062, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00062, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1200, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1200, 0, 0, 1); }
  0.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.37121, 1, 0, 0, 0, 0, 1, 0, 901.97217, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.37121, 1, 0, 0, 0, 0, 1, 0, 901.97217, 0, 0, 1); }
  1.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.6376, 1, 0, 0, 0, 0, 1, 0, 670.47213, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.6376, 1, 0, 0, 0, 0, 1, 0, 670.47213, 0, 0, 1); }
  2.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.79154, 1, 0, 0, 0, 0, 1, 0, 492.69733, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.79154, 1, 0, 0, 0, 0, 1, 0, 492.69733, 0, 0, 1); }
  3.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.82704, 1, 0, 0, 0, 0, 1, 0, 357.68571, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.82704, 1, 0, 0, 0, 0, 1, 0, 357.68571, 0, 0, 1); }
  4.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.77183, 1, 0, 0, 0, 0, 1, 0, 256.27108, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.77183, 1, 0, 0, 0, 0, 1, 0, 256.27108, 0, 0, 1); }
  5.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.66846, 1, 0, 0, 0, 0, 1, 0, 180.93566, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.66846, 1, 0, 0, 0, 0, 1, 0, 180.93566, 0, 0, 1); }
  6.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.55016, 1, 0, 0, 0, 0, 1, 0, 125.61385, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.55016, 1, 0, 0, 0, 0, 1, 0, 125.61385, 0, 0, 1); }
  7.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.4353, 1, 0, 0, 0, 0, 1, 0, 85.48157, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.4353, 1, 0, 0, 0, 0, 1, 0, 85.48157, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.33193, 1, 0, 0, 0, 0, 1, 0, 56.75156, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.33193, 1, 0, 0, 0, 0, 1, 0, 56.75156, 0, 0, 1); }
  9.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.24283, 1, 0, 0, 0, 0, 1, 0, 36.48604, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.24283, 1, 0, 0, 0, 0, 1, 0, 36.48604, 0, 0, 1); }
  10.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.16843, 1, 0, 0, 0, 0, 1, 0, 22.43198, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.16843, 1, 0, 0, 0, 0, 1, 0, 22.43198, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.10815, 1, 0, 0, 0, 0, 1, 0, 12.88054, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.10815, 1, 0, 0, 0, 0, 1, 0, 12.88054, 0, 0, 1); }
  12.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.06093, 1, 0, 0, 0, 0, 1, 0, 6.5498, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.06093, 1, 0, 0, 0, 0, 1, 0, 6.5498, 0, 0, 1); }
  12.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.0254, 1, 0, 0, 0, 0, 1, 0, 2.48875, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.0254, 1, 0, 0, 0, 0, 1, 0, 2.48875, 0, 0, 1); }
  13.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01692, 1, 0, 0, 0, 0, 1, 0, -1.4216, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01692, 1, 0, 0, 0, 0, 1, 0, -1.4216, 0, 0, 1); }
  15.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02702, 1, 0, 0, 0, 0, 1, 0, -2.13707, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02702, 1, 0, 0, 0, 0, 1, 0, -2.13707, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.03188, 1, 0, 0, 0, 0, 1, 0, -2.4006, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.03188, 1, 0, 0, 0, 0, 1, 0, -2.4006, 0, 0, 1); }
  17.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0329, 1, 0, 0, 0, 0, 1, 0, -2.38807, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0329, 1, 0, 0, 0, 0, 1, 0, -2.38807, 0, 0, 1); }
  18.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0313, 1, 0, 0, 0, 0, 1, 0, -2.21872, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0313, 1, 0, 0, 0, 0, 1, 0, -2.21872, 0, 0, 1); }
  19.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02805, 1, 0, 0, 0, 0, 1, 0, -1.97128, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02805, 1, 0, 0, 0, 0, 1, 0, -1.97128, 0, 0, 1); }
  20.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.02394, 1, 0, 0, 0, 0, 1, 0, -1.69605, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.02394, 1, 0, 0, 0, 0, 1, 0, -1.69605, 0, 0, 1); }
  21.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01954, 1, 0, 0, 0, 0, 1, 0, -1.42363, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01954, 1, 0, 0, 0, 0, 1, 0, -1.42363, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01526, 1, 0, 0, 0, 0, 1, 0, -1.17133, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01526, 1, 0, 0, 0, 0, 1, 0, -1.17133, 0, 0, 1); }
  23.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.01134, 1, 0, 0, 0, 0, 1, 0, -0.94766, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.01134, 1, 0, 0, 0, 0, 1, 0, -0.94766, 0, 0, 1); }
  24.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00794, 1, 0, 0, 0, 0, 1, 0, -0.75552, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00794, 1, 0, 0, 0, 0, 1, 0, -0.75552, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00513, 1, 0, 0, 0, 0, 1, 0, -0.59446, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00513, 1, 0, 0, 0, 0, 1, 0, -0.59446, 0, 0, 1); }
  25.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.0029, 1, 0, 0, 0, 0, 1, 0, -0.46208, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.0029, 1, 0, 0, 0, 0, 1, 0, -0.46208, 0, 0, 1); }
  26.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00121, 1, 0, 0, 0, 0, 1, 0, -0.35508, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00121, 1, 0, 0, 0, 0, 1, 0, -0.35508, 0, 0, 1); }
  27.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.26984, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.26984, 0, 0, 1); }
  28.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00081, 1, 0, 0, 0, 0, 1, 0, -0.20282, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00081, 1, 0, 0, 0, 0, 1, 0, -0.20282, 0, 0, 1); }
  29.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00129, 1, 0, 0, 0, 0, 1, 0, -0.15077, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00129, 1, 0, 0, 0, 0, 1, 0, -0.15077, 0, 0, 1); }
  30.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, -0.11079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00152, 1, 0, 0, 0, 0, 1, 0, -0.11079, 0, 0, 1); }
  31.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00157, 1, 0, 0, 0, 0, 1, 0, -0.08043, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00157, 1, 0, 0, 0, 0, 1, 0, -0.08043, 0, 0, 1); }
  32.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00149, 1, 0, 0, 0, 0, 1, 0, -0.05763, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00149, 1, 0, 0, 0, 0, 1, 0, -0.05763, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00133, 1, 0, 0, 0, 0, 1, 0, -0.04069, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00133, 1, 0, 0, 0, 0, 1, 0, -0.04069, 0, 0, 1); }
  34.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00114, 1, 0, 0, 0, 0, 1, 0, -0.02825, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00114, 1, 0, 0, 0, 0, 1, 0, -0.02825, 0, 0, 1); }
  35.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00093, 1, 0, 0, 0, 0, 1, 0, -0.01922, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00093, 1, 0, 0, 0, 0, 1, 0, -0.01922, 0, 0, 1); }
  36.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00073, 1, 0, 0, 0, 0, 1, 0, -0.01276, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00073, 1, 0, 0, 0, 0, 1, 0, -0.01276, 0, 0, 1); }
  37.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00054, 1, 0, 0, 0, 0, 1, 0, -0.0082, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00054, 1, 0, 0, 0, 0, 1, 0, -0.0082, 0, 0, 1); }
  37.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00038, 1, 0, 0, 0, 0, 1, 0, -0.00504, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00038, 1, 0, 0, 0, 0, 1, 0, -0.00504, 0, 0, 1); }
  38.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00024, 1, 0, 0, 0, 0, 1, 0, -0.0029, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00024, 1, 0, 0, 0, 0, 1, 0, -0.0029, 0, 0, 1); }
  39.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00014, 1, 0, 0, 0, 0, 1, 0, -0.00147, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00014, 1, 0, 0, 0, 0, 1, 0, -0.00147, 0, 0, 1); }
  40.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0.00006, 1, 0, 0, 0, 0, 1, 0, -0.00056, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0.00006, 1, 0, 0, 0, 0, 1, 0, -0.00056, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00032, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00032, 0, 0, 1); }
  43.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00048, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00048, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00054, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00054, 0, 0, 1); }
  45.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00119, -8.81435, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00119, -8.81435, 0, 1); }
  46.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00154, -14.62063, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00007, 1, 0, 0, 0, 0, 1, 0, 0.00154, -14.62063, 0, 1); }
  47.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00158, -17.91484, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00006, 1, 0, 0, 0, 0, 1, 0, 0.00158, -17.91484, 0, 1); }
  48.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00005, 1, 0, 0, 0, 0, 1, 0, 0.00142, -19.20477, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00005, 1, 0, 0, 0, 0, 1, 0, 0.00142, -19.20477, 0, 1); }
  49.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00116, -18.97613, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00004, 1, 0, 0, 0, 0, 1, 0, 0.00116, -18.97613, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00087, -17.66952, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00087, -17.66952, 0, 1); }
  50.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00062, -15.66658, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00003, 1, 0, 0, 0, 0, 1, 0, 0.00062, -15.66658, 0, 1); }
  51.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00002, 1, 0, 0, 0, 0, 1, 0, 0.00041, -13.2836, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00002, 1, 0, 0, 0, 0, 1, 0, 0.00041, -13.2836, 0, 1); }
  52.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00026, -10.77083, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00026, -10.77083, 0, 1); }
  53.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00016, -8.316, 0, 1); transform: matrix3d(1, 0, 0, 0, -0.00001, 1, 0, 0, 0, 0, 1, 0, 0.00016, -8.316, 0, 1); }
  54.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, -6.05061, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, -6.05061, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.05775, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.05775, 0, 1); }
  56.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.38079, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.38079, 0, 1); }
  57.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.03188, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.03188, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.74184, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.74184, 0, 1); }
  60.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.23052, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.23052, 0, 1); }
  61.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.50777, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.50777, 0, 1); }
  62.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.61633, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.61633, 0, 1); }
  62.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.59709, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.59709, 0, 1); }
  63.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.48712, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.48712, 0, 1); }
  64.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.31855, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.31855, 0, 1); }
  65.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.11799, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.11799, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.9065, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.9065, 0, 1); }
  67.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.6999, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.6999, 0, 1); }
  68.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.50924, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.50924, 0, 1); }
  69.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.34151, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.34151, 0, 1); }
  70.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.20037, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.20037, 0, 1); }
  71.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08685, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.08685, 0, 1); }
  72.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.06244, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.06244, 0, 1); }
  74.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.10356, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.10356, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.1269, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.1269, 0, 1); }
  75.925926% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13604, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13604, 0, 1); }
  76.851852% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13442, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.13442, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.12516, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.12516, 0, 1); }
  78.703704% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.11097, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.11097, 0, 1); }
  79.62963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.09409, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.09409, 0, 1); }
  80.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.07629, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.07629, 0, 1); }
  81.481481% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.05891, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.05891, 0, 1); }
  82.407407% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.04286, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.04286, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.02874, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.02874, 0, 1); }
  84.259259% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01686, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01686, 0, 1); }
  85.185185% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00731, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00731, 0, 1); }
  86.111111% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.037037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00525, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00525, 0, 1); }
  87.962963% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00872, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00872, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01068, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01068, 0, 1); }
  89.814815% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01145, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01145, 0, 1); }
  90.740741% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01131, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01131, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01053, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.01053, 0, 1); }
  92.592593% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00934, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00934, 0, 1); }
  93.518519% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00792, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00792, 0, 1); }
  94.444444% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00642, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00642, 0, 1); }
  95.37037% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00496, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00496, 0, 1); }
  96.296296% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00361, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00361, 0, 1); }
  97.222222% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00242, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00242, 0, 1); }
  98.148148% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00142, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00142, 0, 1); }
  99.074074% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00062, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.00062, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

