//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

//Margins & paddings
//--------------------------
.margin-bottom-large {
    margin-bottom: @line-height-computed;
}
.margin-bottom-small {
    margin-bottom: (@line-height-computed / 2);
}

.margin-top-large {
    margin-top: (@line-height-computed);
}
.margin-top-xlarge {
    margin-top: (@line-height-computed*2);
}
.margin-top-small {
    margin-top: (@line-height-computed / 2);
}
.padding-right-0 {
    padding-right: 0;
}
