/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {  }




/* ==========================================================================
   Header
   ========================================================================== */
@media (min-width: @screen-sm-min) {
    // .banner { height: 90px;}
}
.banner { }

.affix {
top: 0;
left: 0;
width: 100%;
margin: 0 auto;
z-index: 1030;
border-radius: 0;
-webkit-box-shadow: 0 3px 4px rgba(50,50,50,0.75);
box-shadow: 0 3px 4px rgba(50,50,50,0.75);
opacity: .95;
filter: alpha(opacity=95);
-webkit-transition: box-shadow ease-in-out .15s, opacity 1.75s linear;
transition: box-shadow ease-in-out .15s, opacity 1.75s linear;
}
.affix {
position: fixed;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

/**COLORS**/
.brand {
    background-color: @brand-primary;
}
.lightgray {
    background-color: @brand-lightgray;
   &.folded {
    a {
        color: @link-color;
        &:hover, &.active {
            color: darken(@brand-lightgray, 25%);
            text-decoration: none;
        }

    }
   }

}
.gray {
    background-color: @brand-gray
}
.greenish {
    background-color: @brand-green;
    a {
        color: @text-color;
        &:hover, &.active {
            color: darken(@brand-green, 25%);
            text-decoration: none;
            .img-circle {
                border-color:  darken(@brand-green, 25%);
            }
        }

    }
}
.lightblue {
    background-color: @brand-lightblue;
    a {
        color: @text-color;
        &:hover, &.active {
            color: darken(@brand-lightblue, 25%);
            text-decoration: none;
            .img-circle {
                border-color:  darken(@brand-lightblue, 25%);
            }
        }

    }
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }
.section {
    padding:(@line-height-computed *1.5) 0 (@line-height-computed *3);
    h1 {
    margin-top: (@line-height-computed / 1.5);
    margin-bottom: (@line-height-computed *2);
    }
    &#kontakt {
        height: 1200px;
    }
}
.showmore {
    display: block;
    cursor: pointer;
}
//Don't show honeypot field
.screenReader { left: -9999px; position: absolute; top: -9999px; }
/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


.gform_fields {
  &:extend(.list-inline);
}
.medium {
  &:extend(.form-control all);
  &:extend(.input-sm all);
}
.gform_button {
  &:extend(.btn all);
  &:extend(.btn-primary all);
  &:extend(.btn-lg all);
}
.validation_message {
  &:extend(.alert);
  &:extend(.alert-danger);
}
.gform_confirmation_message {
  &:extend(.alert);
  &:extend(.alert-info);
}
